@{
    ViewBag.Title = "All";
}


<div class="container">
    <div class="row">
        <br />
        <div class="col-sm-3"></div>
        <form class="card card-sm" method="GET">
            <div class="col-sm-3">
                <input class="form-control form-control-lg form-control-borderless" type="text" name="search" value="@ViewBag.SearchString"
                       placeholder="Search keywords" style="height:40px;">
            </div>
            <div class="col-sm-3">
                <button type="submit" class="button" style="background-color:#574b90; margin: 0; width:100px; height: 40px; font-size:18px;">
                    <span class="glyphicon glyphicon-search" style="color:white;"></span>
                </button>
            </div>
            <div class="col-sm-3"></div>
        </form>
    </div>
</div>
<br />

@foreach (var subject in ViewBag.Subjects)
{
    <div class="container">
        <div class="row">
            <h2 style="color:#e15f41;">
                <strong>
                    <span class="glyphicon glyphicon-bookmark"></span> @subject.Category.CategoryName
                </strong>
                <strong style="color:#303952;">
                    <span class="glyphicon glyphicon-chevron-right"></span> @subject.Title
                </strong>
            </h2>
            <div class="col-sm-10" style="color:#303952;">
                <blockquote style="border-left: 2px solid #303952;">
                    <h5>@Html.Raw(subject.Content)</h5>
                    <footer>
                        <sm>@subject.Date</sm>
                        <br />
                        <sm>by <a href="/Users/Info/@subject.UserId" style="color:#e15f41;">@subject.User.UserName</a></sm>
                    </footer>
                </blockquote>
            </div>
            <div class="col-sm-2" style="color:#14274e;">
                <button class="button" style="background-color:#786fa6; width:60px; font-size:20px;">
                    <a href="/Subjects/Show/@subject.SubjectId" style="color:white">
                        <span class="glyphicon glyphicon-comment"></span>
                    </a>
                </button>
                <br />
                @if (subject.UserId == ViewBag.utilizatorCurent || ViewBag.esteModerator)
                {
                    <button class="button" style="background-color:#cf6a87; width:60px; font-size:20px;">
                        <a href="/Subjects/Edit/@subject.SubjectId" style="color:white;">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </button>
                    <br />
                    <form method="post" action="/Subjects/Delete/@subject.SubjectId">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button type="submit" class="button" style="background-color:#e15f41; color:white; width:60px; font-size:20px;">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                }
            </div>

            <br />
            <hr />
        </div>
    </div>
}

@if (ViewBag.lastPage == 0 && ViewBag.search != "")
{
    <h2 style="text-align:center;">There are no recipes matching your search!</h2>
}
else
{
<div style="text-align:center;">
    <nav aria-label="Page navigation">
        <ul class="costum">
            <li>
                @if (ViewBag.search != "")
                {<a href="/Subjects/All?page=1&search=@ViewBag.SearchString" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                }
                else
                {
                    <a href="/Subjects/All?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                }
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                if (ViewBag.search != "")
                {
                    <li><a href="/Subjects/All?page=@i&search=@ViewBag.SearchString">@(i)</a></li>
                }
                else
                {
                    <li><a href="/Subjects/All?page=@i">@(i)</a></li>
                }
            }
            <li>
                @if (ViewBag.search != "")
                {
                    <a href="/Subjects/All?page=@(ViewBag.lastPage)&search=@ViewBag.SearchString" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
                else
                { <a href="/Subjects/All?page=@(ViewBag.lastPage)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
            </li>
        </ul>
    </nav>
</div>
}