@{
    ViewBag.Title = "Recipes";
}

<hr style="border:2px #e15f41 solid;" />
<div class="cont">
    @foreach (var file in ViewBag.files)
    {
        if (file.FileId == ViewBag.Category.CategoryPicture)
        {
            <img src="/Files/@file.FileName" style="height:70vh; margin-left:10%;margin-right:10%; width:80%; opacity:0.5;" />
        }
    }
    <div class="center-c">
        <h1 style="color:#303952; font-size:50px;">
            <span class="glyphicon glyphicon-bookmark"></span>
            <large><strong>@ViewBag.Category.CategoryName</strong></large>
        </h1>
    </div>
    <br />
</div>

<hr style="border:2px #e15f41 solid;" />

@if (ViewBag.Message != null)
{
    <div class="text-center">
        <h3>@ViewBag.Message</h3>
    </div>
    <hr style="border:2px #e15f41 solid;" />
}
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a href="/Categories/Index" class="btn btn-lg" style="color: #303952;"><span class="glyphicon glyphicon-hand-left"> Back to countries</span></a>
            </div>
            <div class="col-sm-5"></div>
            @if (ViewBag.esteUser)
            {
                <div class="col-sm-4">
                    <a href="/Subjects/New/@ViewBag.Category.CategoryId" class="btn btn-lg" style="color: #303952;"><span class="glyphicon glyphicon-plus-sign" /> Add new recipe</a>
                </div>
            }
        </div>
    </div>
</div>

@foreach (var subject in ViewBag.Subjects)
{
    <div class="container">
        <div class="row">
            <h2 style="color:#303952;">
                <strong>
                    <span class="glyphicon glyphicon-chevron-right"></span> @subject.Title
                </strong>
            </h2>
            <div class="col-sm-10" style="color:#303952;">
                <blockquote style="border-left: 2px solid #303952;">
                    <h5>@Html.Raw(subject.Content)</h5>
                    <footer>
                        <sm>@subject.Date</sm>
                        <br />
                        <sm>by <a href="/Users/Info/@subject.UserId" style="color:#e15f41;">@subject.User.UserName</a></sm>
                    </footer>
                </blockquote>
            </div>
            <div class="col-sm-2" style="color:#14274e;">
                <button class="button" style="background-color:#786fa6; width:60px; font-size:20px;">
                    <a href="/Subjects/Show/@subject.SubjectId" style="color:white;">
                        <span class="glyphicon glyphicon-comment"></span>
                    </a>
                </button>
                <br />
                @if (subject.UserId == ViewBag.utilizatorCurent || ViewBag.esteModerator)
                {
                    <button class="button" style="background-color:#cf6a87; width:60px; font-size:20px;">
                        <a href="/Subjects/Edit/@subject.SubjectId" style="color:white;">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </button>
                    <br />
                    <form method="post" action="/Subjects/Delete/@subject.SubjectId">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button type="submit" class="button" style="background-color:#e15f41; color:white; width:60px; font-size:20px;">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                }
            </div>

            <br />
            <hr />
        </div>
    </div>
}
<br />
<br />

@if (ViewBag.lastPage != 0)
{
    <div style="text-align:center;">
        <nav aria-label="Page navigation">
            <ul class="costum">
                <li>
                    <a href="/Subjects/Index/@ViewBag.Category.CategoryId?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li><a href="/Subjects/Index/@ViewBag.Category.CategoryId?page=@i">@(i)</a></li>
                }

                <li>
                    <a href="/Subjects/Index/@ViewBag.Category.CategoryId?page=@(ViewBag.lastPage)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
}
<br />