@*@{
        ViewBag.Title = "New subject";
    }*@


<div class="vertical-center" style="text-align:center;">
    <div class="container">
        <br />
        <br />
        <h1 style="color:#333456;">
            Add your new subject
        </h1>
        <hr style="border:2px #d4a5a5 solid;" />
        <form method="post" action="/Subjects/New/">
            <input type="hidden" name="CategoryId" value="@ViewBag.id" />
            <input type="hidden" name="UserId" value="@ViewBag.UserId" />
            <h2 style="color:#14274e;">
                @Html.Label("Title", "Title")
            </h2>
            <div class="div-title">
                @Html.TextBox("Title", null, new { @class = "form-control form-title" })
            </div>
            @Html.ValidationMessage("Title", null, new { @class = "text-danger" })

            <h2 style="color:#14274e;">
                @Html.Label("Content", "Content")
            </h2>
            <div>
                @Html.TextArea("Content", null, new { @class = "form-control form-content" })
            </div>
            @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
            <br />
            <br />

            <button type="submit" class="button"><span class="glyphicon glyphicon-plus-sign">Add</span></button>
        </form>
    </div>
</div>
