@model OpenDiscussion.Models.Subject

@{
    ViewBag.Title = Model.Title;
}


<br />

<div class="container">
    <div class="row">
        <h1><strong><span class="glyphicon glyphicon-chevron-right" style="color: #303952;"> @Model.Title</span></strong></h1>
        <div class="col-sm-10" style="color:#303952;">
            <blockquote style="border-left: 2px solid #303952;">
                <h4>@Html.Raw(Model.Content)</h4>
                <footer>
                    <sm>@Model.Date</sm>
                    <br />
                    <sm>by <a href="/Users/Info/@Model.UserId" style="color:#e15f41;">@Model.User.UserName</a></sm>
                </footer>
            </blockquote>
        </div>
        @if (Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteModerator)
        {
            <div class="col-sm-2" style="color:#14294e;">
                <button class="button" style="background-color:#cf6a87; width:60px; font-size:20px;">
                    <a href="/Subjects/Edit/@Model.SubjectId" style="color:white;">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </button>
                <br />
                <form method="post" action="/Subjects/Delete/@Model.SubjectId">
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button type="submit" class="button" style="background-color:#e15f41; color:white; width:60px; font-size:20px;">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </div>
        }
    </div>
</div>
<br />
<br />

<h2 style="color: #303952;">Comments section</h2>

@if (ViewBag.Message != null)
{
    <hr style="border:2px #e15f41 solid;" />
    <div class="text-center">
        <h3>@ViewBag.Message</h3>
    </div>
}



<hr style="border:2px #e15f41 solid;" />

@if (ViewBag.esteUser)
{
    <div class="container">
        <form method="post" action="/Subjects/Show/">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <h3>@Html.Label("CommContent", "Add your comment", new { @style = "color: #303952;" })</h3>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <input type="hidden" name="SubjectId" value="@Model.SubjectId" />
                    <div>
                        @Html.TextArea("CommContent", null, htmlAttributes: new { @class = "form-control form-content", @placeholder = "Write your comment" })
                    </div>
                    @Html.ValidationMessage("CommContent", "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-9"></div>
                <div class="col-sm-1">
                    <button type="submit" class="button pull-right" style="background-color: #574b90; margin:0px; color:white; font-size:20px; width:120px; ">
                        <span class="glyphicon glyphicon-check"> Post</span>
                    </button>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </form>
    </div>
    <br />
    <hr style="border:2px #e15f41 solid;" />
}

<div class="container">
    @foreach (var comm in Model.Comments.OrderByDescending(o => o.Date))
    {
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <h1><span class="glyphicon glyphicon-comment" style="color: #303952;"></span></h1>
            </div>
            <div class="col-sm-8">
                <blockquote style="border-left: 2px solid #303952;">
                    <h5 style="color: #303952;">@comm.CommContent</h5>
                    <footer>
                        <sm class="pull-right"> by <a href="/Users/Info/@comm.UserId" style="color:#e15f41;">@comm.User.UserName</a></sm>
                        <br />
                        <sm class="pull-right"> at @comm.Date</sm>
                    </footer>
                </blockquote>
            </div>

            @if (comm.UserId == ViewBag.utilizatorCurent || ViewBag.esteModerator)
            {
                <div class="col-sm-1">
                    <div style="display: inline-block;  padding-top:40%;  ">
                        <form method="post" action="/Comments/Delete/@comm.CommentId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button type="submit" class="button-mic" style="background-color:#e15f41;">
                                <span class="glyphicon glyphicon-trash" style="color:white;"></span>
                            </button>
                        </form>
                    </div>
                </div>
            }

            @if (comm.UserId == ViewBag.utilizatorCurent)
            {
                <div class="col-sm-1">
                    <div style="display: inline-block; padding-top:40%; ">
                        <button class="button-mic" style="background-color:#cf6a87;">
                            <a href="/Comments/Edit/@comm.CommentId">
                                <span class="glyphicon glyphicon-edit" style="color:white;"></span>
                            </a>
                        </button>
                    </div>
                </div>
            }

        </div>
        <br />
        <hr style="border:1.5px #f19066 solid;" />

    }
</div>
<br />


<div>
    <div>

        <br />
        <br /><br />


    </div>
</div>




