@model OpenDiscussion.Models.Category

@{
    ViewBag.Title = "Edit country";
}

<div style="text-align:center;">
    <div class="container">

        <h1 style="color:#303952;">
            Edit country
        </h1>
        <hr style="border:2px #e15f41 solid;" />
        @using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Put)
            @Html.HiddenFor(m => m.CategoryId)
        <div class="form-group">
            <h1 style="color:#303952;">
                @Html.Label("CategoryName", "Country name")
            </h1>

            <div class="div-title">
                @Html.Editor("CategoryName", new { htmlAttributes = new { @class = "form-control form-title" } })
            </div>

            @Html.ValidationMessage("CategoryName", null, new { @class = "text-danger" })

            <h1 style="color:#303952;">
                <label>Change picture</label>
            </h1>

            <div class="div-title" style="padding-left:50px;">
                <input type="file" name="reqUploadedFile" />
            </div>

            @Html.ValidationMessage("CategoryPicture", null, new { @class = "text-danger" })
        </div>
            <br />
           
            <button type="submit" class="button" style="background-color:#e15f41;">
                <span style="color:white;">Submit</span>
            </button>
        }

        @*<form method="post" action="/Categories/Edit/@Model.CategoryId">
            @Html.HttpMethodOverride(HttpVerbs.Put)

            @Html.HiddenFor(m => m.CategoryId)

            <h1 style="color:#303952;">
                @Html.Label("CategoryName", "Country name")
            </h1>
            <div class="div-title">
                @Html.Editor("CategoryName", new { htmlAttributes = new { @class = "form-control form-title" } })
            </div>
            @Html.ValidationMessage("CategoryName", null, new { @class = "text-danger" })
            <br /><br />

            <button type="submit" class="button" style="background-color:#e15f41;">
                <span style="color:white;">Submit</span>
            </button>
        </form>*@
    </div>
</div>

