@model OpenDiscussionPlatform.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
}


<div style="text-align:center;">
    <div class="container">

        <h1 style="color:#303952;">
            Edit your profile
        </h1>

        <hr style="border:2px #e15f41 solid;" />

        <form method="post" action="/Users/Edit/Profile">
            @Html.HttpMethodOverride(HttpVerbs.Put)
            @Html.HiddenFor(m => m.Id)

            <h1 style="color:#303952;">
                @Html.LabelFor(m => m.Description)
            </h1>
            <div class=" div-title">
                @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control form-title" } })
            </div>

            <br />

            <h1 style="color:#303952;">
                @Html.Label("FullName", "Full Name")
            </h1>
            <div class="div-title">
                @Html.Editor("FullName", new { htmlAttributes = new { @class = "form-control form-title" } })
            </div>

            <br />

            <h1 style="color:#303952;">
                @Html.Label("FavFood", "Favourite Food")
            </h1>
            <div class="div-title">
                @Html.Editor("FavFood", new { htmlAttributes = new { @class = "form-control form-title" } })
            </div>

            <br />

            <h1 style="color:#303952;">
                @Html.LabelFor(m => m.School)
            </h1>
            <div class="div-title">
                @Html.Editor("School", new { htmlAttributes = new { @class = "form-control form-title" } })
            </div>

            <br />

            <h1 style="color:#303952;">
                @Html.LabelFor(m => m.City)
            </h1>
            <div class="div-title">
                @Html.Editor("City", new { htmlAttributes = new { @class = "form-control form-title" } })
            </div>

            @*<h1 style="color:#303952;">
                @Html.LabelFor(m => m.Photo)
            </h1>
            <div class="div-title">
                <input type="file" name="reqUploadedFile" />
            </div>*@
            <br />
            <button type="submit" class="button" style="background-color:#e15f41;"><span style="color:white;">Submit</span></button>
        </form>
    </div>
</div>

